@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    111 GoWalkURDog Way<br />
    Nashville, TN 37209<br />
    <abbr title="Phone">P:</abbr>
    615.971.6953
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@GoDog.com">Support@GoDog.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@GoDog.com">Marketing@GoDog.com</a>
</address>